* {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

body, html {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.card {
    background-color: #fde8cd;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 7px #0000005f;
    text-align: center;
    width: 50vw;
    min-height: 500px;
}

img {
    border-radius: 5px;
    width: 50vw;
}

#dia, #tarde, #noite {
    display: none;
}